@model CustomerProfileVM
@{
    ViewData["Title"] = Model.Customer.FullName + " | Marketo";
    int orderCount = 0;
    double totalOrderItem = 0;
    foreach (Order order in Model.Orders)
    {
        foreach (OrderItem orderItem in order.OrderItems)
        {
            totalOrderItem = orderItem.TotalPrice;
        }
    }
}

<!-- Breadcrumb section start -->
<section class="breadcrumb-section section-b-space">
    <ul class="circles">
        @for (int i = 1; i <= 10; i++)
        {
            <li></li>
        }
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>My account</h3>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="home" asp-action="index">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">My account</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->
<!-- User dashboard section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <ul class="nav nav-tabs custom-nav-tabs flex-column category-option" id="myTab">
                    <li class="nav-item mb-2">
                        <button class="nav-link font-light active" id="tab" data-bs-toggle="tab" data-bs-target="#dash" type="button">
                            <i class="fas fa-angle-right"></i>Dashboard
                        </button>
                    </li>

                    <li class="nav-item mb-2">
                        <button class="nav-link font-light" id="1-tab" data-bs-toggle="tab" data-bs-target="#order" type="button">
                            <i class="fas fa-angle-right"></i>My orders
                        </button>
                    </li>
                </ul>
            </div>

            <div class="col-lg-9">
                <div class="filter-button dash-filter dashboard">
                    <button class="btn btn-solid-default btn-sm fw-bold filter-btn">Show Menu</button>
                </div>

                <div class="tab-content" id="myTabContent">

                    <div class="tab-pane fade show active" id="dash">
                        <div class="dashboard-right">
                            <div class="dashboard">
                                <div class="page-title title title1 title-effect">
                                    <h2>My Dashboard</h2>
                                </div>
                                <div class="welcome-msg">
                                    <h6 class="font-light">Hello, <span>@Model.Customer.FullName !</span></h6>
                                    <p class="font-light"></p>
                                </div>

                                <div class="order-box-contain my-4">
                                    <div class="row g-4">

                                        <div class="col-lg-4 col-sm-6">
                                            <div class="order-box">
                                                <div class="order-box-image">
                                                    <img src="~/assets/images/svg/box.png" class="img-fluid blur-up lazyload" alt="box">
                                                </div>
                                                <div class="order-box-contain">
                                                    <img src="~/assets/images/svg/box1.png" class="img-fluid blur-up lazyload" alt="box">
                                                    <div>
                                                        <h5 class="font-light">Pending orders</h5>
                                                        <h3>@Model.Orders.Where(o => (int)o.Status == 0).Count()</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-sm-6">
                                            <div class="order-box">
                                                <div class="order-box-image">
                                                    <img src="~/assets/images/svg/sent.png" class="img-fluid blur-up lazyload" alt="sent">
                                                </div>
                                                <div class="order-box-contain">
                                                    <img src="~/assets/images/svg/sent1.png" class="img-fluid blur-up lazyload" alt="sent">
                                                    <div>
                                                        <h5 class="font-light">Delivered orders</h5>
                                                        <h3>@Model.Orders.Where(o => (int)o.Status == 3).Count()</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="col-lg-4 col-sm-6">
                                            <div class="order-box">
                                                <div class="order-box-image">
                                                    <img src="~/assets/images/svg/wishlist.png" class="img-fluid blur-up lazyload" alt="wishlist">
                                                </div>
                                                <div class="order-box-contain">
                                                    <img src="~/assets/images/svg/wishlist1.png" class="img-fluid blur-up lazyload" alt="wishlist">
                                                    <div>
                                                        <h5 class="font-light">All orders</h5>
                                                        <h3>@Model.Orders.Count()</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade table-dashboard dashboard wish-list-section" id="order">

                        <div class="box-head mb-3">
                            <h3>My Orders</h3>
                        </div>

                        <div class="table-responsive">

                            <table class="table cart-table accordion-table">
                                <thead>
                                    <tr class="table-head">
                                        <th scope="col">#</th>
                                        <th scope="col">Ordered by</th>
                                        <th scope="col">Order Date</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Total Price</th>
                                        <th scope="col">View</th>
                                    </tr>
                                </thead>

                                @foreach (Order order in Model.Orders)
                                {
                                    orderCount++;
                                    <tbody>
                                        <tr class="header-level">
                                            <td>
                                                <p class="mt-0"><strong>@orderCount</strong></p>
                                            </td>
                                            <td>
                                                <p class="mt-0">@order.AppUser.FullName</p>
                                            </td>
                                            <td>
                                                <p class="mt-0">@order.CreatedAt.ToString()</p>
                                            </td>
                                            <td>
                                                @switch (order.Status)
                                                {
                                                    case MarketoWatchStore.Enums.OrderStatus.Pending:
                                                        <p class="btn-status primary-button btn btn-sm">Pending</p>
                                                        break;
                                                    case MarketoWatchStore.Enums.OrderStatus.Accepted:
                                                        <p class="btn-status success-button btn btn-sm">Delivered</p>
                                                        break;
                                                    case MarketoWatchStore.Enums.OrderStatus.Rejected:
                                                        <p class="btn-status danger-button btn btn-sm">Rejected</p>
                                                        break;
                                                    case MarketoWatchStore.Enums.OrderStatus.Delivered:
                                                        <p class="btn-status success-button btn btn-sm">Delivered</p>
                                                        break;
                                                    default:
                                                        break;
                                                }
                                            </td>
                                            <td>
                                                <p class="theme-color fs-6">$@order.OrderItems.Sum(o => o.Price * o.Count)</p>
                                            </td>
                                            <td>
                                                <i class="far fa-eye expand"></i>
                                            </td>
                                        </tr>
                                        <tr class="sub-level">
                                            <td colspan="6">
                                                <table class="table cart-table">
                                                    <thead>
                                                        <tr class="table-head">
                                                            <th scope="col">Image</th>
                                                            <th scope="col">Product name</th>
                                                            <th scope="col">Price</th>
                                                            <th scope="col">Quantity</th>
                                                            <th scope="col">Subtotal</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @foreach (OrderItem orderItem in order.OrderItems)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <a href="product.html">
                                                                        <img src="~/assets/images/products/@orderItem.Product.MainImage" class="blur-up lazyload" alt="product">
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <p class="fs-6 m-0">@orderItem.Product.Title</p>
                                                                </td>
                                                                <td>
                                                                    <p class="fs-6 m-0">$@orderItem.Price</p>
                                                                </td>
                                                                <td>
                                                                    <p class="fs-6 m-0">@orderItem.Count</p>
                                                                </td>
                                                                <td>
                                                                    <p class="theme-color fs-6">$@(orderItem.Price * orderItem.Count)</p>
                                                                </td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                }

                            </table>
                        </div>

                        <div class="row g-4">
                            <div class="col-12">
                                <nav class="page-section">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="javascript:void(0)">
                                                <span aria-hidden="true">
                                                    <i class="fas fa-chevron-left"></i>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="page-item active">
                                            <a class="page-link" href="javascript:void(0)">1</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link">
                                                <span aria-hidden="true">
                                                    <i class="fas fa-chevron-right"></i>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- User dashboard section end -->

@section JS{
    <script src="~/assets/js/nested-table.js"></script>
}