@model List<ShoppingCartVM>
@{
    ViewBag.Title = "Shopping Cart | Marketo";
    double total = Model.Sum(x => x.Price * x.Count);
}

<!-- Breadcrumb section start -->
<section class="breadcrumb-section section-b-space">
    <ul class="circles">
        @for (int i = 1; i <= 10; i++)
        {
            <li></li>
        }
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Shopping Cart</h3>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="home" asp-action="index">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->

<!-- Cart Section Start -->
<section class="cart-section section-b-space">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 table-responsive mt-4">
                <table class="table cart-table">
                    <thead>
                        <tr class="table-head">
                            <th scope="col">image</th>
                            <th scope="col">product name</th>
                            <th scope="col">price</th>
                            <th scope="col">quantity</th>
                            <th scope="col">total</th>
                            <th scope="col">remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ShoppingCartVM shoppingCartVM in Model)
                        {
                            <tr>
                                <td>
                                    <a asp-controller="shop" asp-action="product" asp-route-id="@shoppingCartVM.ProductId">
                                        <img src="assets/images/products/@shoppingCartVM.MainImage" class=" blur-up lazyload" alt="product">
                                    </a>
                                </td>
                                <td>
                                    <a asp-controller="shop" asp-action="product" asp-route-id="@shoppingCartVM.ProductId">@shoppingCartVM.Title</a>
                                    <div class="mobile-cart-content row">
                                        <div class="col">
                                            <div class="qty-box">
                                                <div class="input-group">
                                                    <input type="text" name="quantity" class="form-control input-number" value="@shoppingCartVM.Count" min="1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <h2>$@shoppingCartVM.Price.ToString("0.00")</h2>
                                        </div>
                                        <div class="col">
                                            <h2 class="td-color">
                                                <a href="javascript:void(0)">
                                                    <i class="fas fa-times"></i>
                                                </a>
                                            </h2>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h2>$@shoppingCartVM.Price.ToString("0.00")</h2>
                                </td>
                                <td>
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <input type="number" name="quantity" class="form-control input-number" value="@shoppingCartVM.Count" min="1">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h2 class="td-color">$@((shoppingCartVM.Price * shoppingCartVM.Count).ToString("0.00"))</h2>
                                </td>
                                <td>
                                    <a href="javascript:void(0)">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="col-12 mt-md-5 mt-4">
                <div class="row">
                    <div class="col-sm-7 col-5 order-1">
                        <div class="left-side-button text-end d-flex d-block justify-content-end">
                            <a href="javascript:void(0)"
                               class="text-decoration-underline theme-color d-block text-capitalize">
                                clear
                                all items
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-5 col-7">
                        <div class="left-side-button float-start">
                            <a asp-controller="shop" asp-action="index" class="btn btn-solid-default btn fw-bold mb-0 ms-0">
                                <i class="fas fa-arrow-left"></i> Continue Shopping
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart-checkout-section">
                <div class="row g-4 flex-row-reverse">

                    <div class="col-lg-4">
                        <div class="cart-box">
                            <div class="cart-box-details">
                                <div class="total-details">
                                    <div class="top-details">
                                        <h3>Cart Totals</h3>
                                        <h6>Quantity of products <span>@Model.Count()</span></h6>
                                        <h6>Delivery <span>$0.00</span></h6>
                                        <h6><strong>Total price <span>$@total.ToString("0.00")</span></strong></h6>
                                    </div>
                                    <div class="bottom-details">
                                        <a asp-controller="shoppingcart" asp-action="checkout">Process Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Cart Section End -->