@model HomeVM
@{
    ViewBag.Title = "Marketo | Watch Store";
}

<!-- Home Slider start -->
@if (Model.Slides != null && Model.Slides.Count() > 0)
{
    <section class="pt-0 overflow-hidden">
        <div>
            <div class="banner-slider box-arrow">
                @foreach (Product productSlide in Model.Slides)
                {
                    <!-- Slider Start -->
                    <div class="banner-poster">
                        <div class="slider-right-detail">
                            <div class="labels">
                                <ul class="label-15">
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank">
                                            <img src="~/assets/images/social-icon/1.png" class="img-fluid blur-up lazyload"
                                                 alt="facebook">
                                            <h5 class="d-lg-block d-none">Facebook</h5>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank">
                                            <img src="~/assets/images/social-icon/2.png" class="img-fluid blur-up lazyload"
                                                 alt="Instagram">
                                            <h5 class="d-lg-block d-none">Instagram</h5>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/" target="_blank">
                                            <img src="~/assets/images/social-icon/3.png" class="img-fluid blur-up lazyload"
                                                 alt="Twitter">
                                            <h5 class="d-lg-block d-none">Twitter</h5>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            @if (productSlide.DiscountPrice != null)
                            {
                                <h4>New offer</h4>
                                <div class="offer-box">
                                    @{var calculateDiscount = 100 - (double)productSlide.DiscountPrice * 100 / productSlide.Price;}
                                    <h6>@calculateDiscount.ToString("0.00")% off</h6>
                                </div>
                            }
                        </div>

                        <div class="slider-bg">
                            <div class="bg-text">
                                <span>
                                    @if (productSlide.Brand.Title.Length > 7)
                                    {
                                        @("Marketo")
                                    }
                                    else
                                    {
                                        @productSlide.Brand.Title
                                    }
                                </span>
                            </div>

                            <div class="bg-circle" style="background: #362319;"></div>
                            <img src="~/assets/images/slider/@productSlide.SlideImage" class="watch-1 img-fluid blur-up lazyload" alt="slider-image">
                        </div>

                        <div class="suggestion-product d-xl-block d-none">
                            <h3>Suggestion Product</h3>

                            <a asp-controller="shop" asp-action="product" asp-route-id="@productSlide.Id" class="slider-watch-image d-block" tabindex="0">
                                <div class="relative-watches">
                                    <img src="assets/images/products/@productSlide.MainImage" class="img-fluid blur-up lazyloaded" alt="product-image">
                                    <div class="watch-price">
                                        <h5>$@((productSlide.DiscountPrice != null) ? productSlide.DiscountPrice : productSlide.Price)</h5>
                                        <h6>@(productSlide.Brand.Title + " " + productSlide.Title)</h6>
                                        <ul class="rating d-flex justify-content-between">
                                            <li>
                                                <i class="fas fa-star theme-color"></i>
                                            </li>
                                            <li>
                                                <i class="fas fa-star theme-color"></i>
                                            </li>
                                            <li>
                                                <i class="fas fa-star theme-color"></i>
                                            </li>
                                            <li>
                                                <i class="fas fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fas fa-star"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="price-number">
                            <h2>
                                @if (productSlide.DiscountPrice != null)
                                {
                                    @("$" + productSlide.DiscountPrice) <span><del>@("$" + productSlide.Price)</del></span>
                                }
                                else
                                {
                                    @productSlide.Price
                                }
                            </h2>
                        </div>

                        @if (Model.Slides.Count() > 1)
                        {
                            <div class="slider-arrow-2">
                                <div class="left-arrow d-lg-block d-none"></div>
                                <div class="right-arrow d-lg-block d-none"></div>
                            </div>
                        }
                    </div>
                    <!-- Slider End -->
                }
            </div>
        </div>
    </section>
}
<!-- Home Slider end -->
<!-- Custom Services Section Start -->
<section class="service-section">
    <div class="container">
        <div class="row g-4 g-sm-3">
            @foreach (ServicePolicy servicePolicy in Model.ServicePolicies)
            {
                <div class="col-xl-3 col-sm-6">
                    <div class="service-wrap">
                        <div class="service-icon">
                            <img src="~/assets/images/service-policies/@servicePolicy.Image" />
                        </div>
                        <div class="service-content">
                            <h3 class="mb-2">@servicePolicy.Title</h3>
                            <span class="font-light">@servicePolicy.Description</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Custom Services Section End -->
<!-- Poster Section Start -->
@if (Model.Posters != null && Model.Posters.Count() > 0)
{
    <section class="poster-section ratio2_1">
        <div>
            <div class="container">
                <div class="row justify-content-center">

                    @foreach (Product productPoster in Model.Posters)
                    {
                        <div class="col-lg-6 mt-4">
                            <div class="poster-image">
                                <img src="~/assets/images/poster/@productPoster.PosterImage" class="img-fluid bg-img blur-up lazyload" alt="poster-image">
                                <div class="poster-image-details">
                                    <div>
                                        @if (productPoster.DiscountPrice != null)
                                        {
                                            var calculateDiscount = 100 - (double)productPoster.DiscountPrice * 100 / productPoster.Price;
                                            <h5>Get @calculateDiscount.ToString("0.00")% Rewarded</h5>
                                        }
                                        <h2>@productPoster.Brand.Title</h2>
                                        <p class="d-sm-block d-none my-1">@productPoster.Title</p>
                                        <h3>
                                            @if (productPoster.DiscountPrice != null)
                                            {
                                                @("$" + @productPoster.DiscountPrice) <span><del>$@productPoster.Price</del></span>
                                            }
                                            else
                                            {
                                                @("$" + @productPoster.Price)
                                            }
                                        </h3>
                                        <a asp-controller="shop" asp-action="product" asp-route-id="@productPoster.Id" class="btn btn-solid-default">BUY NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>
}
<!-- Poster Section End -->
<!-- New Arrival Section Start -->
<section class="ratio_asos">
    <div class="container-fluid p-sm-0">
        <div class="row m-0">
            <div class="col-sm-12 p-0">
                <div class="title title-2 text-center">
                    <h2>New Arrival</h2>
                    <h5>Our Collection</h5>
                </div>
                <div class="product-wrapper slide-6">

                    @foreach (Product product in Model.NewArrival)
                    {
                        <div>
                            <div class="product-box">
                                <div class="img-wrapper">
                                    <a asp-controller="shop" asp-action="product" asp-route-id="@product.Id">
                                        <img src="~/assets/images/products/@product.MainImage" class="img-fluid bg-img blur-up lazyload" alt="product">
                                    </a>
                                    <div class="cart-wrap">
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)" class="addtocart-btn">
                                                    <i data-feather="shopping-bag"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-controller="shop" asp-action="quickview" asp-route-id="@product.Id" id="quickViewBtn" data-bs-toggle="modal" data-bs-target="#quick-view">
                                                    <i data-feather="eye"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="addtocompare-btn">
                                                    <i data-feather="refresh-cw"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="wishlist addtowishlist-btn">
                                                    <i data-feather="heart"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-details text-center">
                                    <h3 class="theme-color">
                                        @if (product.DiscountPrice != null)
                                        {
                                            <span class="font-light">$@product.DiscountPrice</span>
                                            <s class="ml-1">$@product.Price</s>
                                        }
                                        else
                                        {
                                            <span class="font-light">$@product.Price</span>
                                        }

                                    </h3>
                                    <a asp-controller="shop" asp-action="product" asp-route-id="@product.Id" class="font-default">
                                        <h5>@(product.Brand.Title + " " + product.Title)</h5>
                                    </a>
                                    <ul class="rating mt-1">
                                        <li>
                                            <i class="fas fa-star theme-color"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star theme-color"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!-- New Arrival Section End -->
<!-- Special Types section start -->
<section class="category-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="title title-2 text-center">
                    <h2>Special types</h2>
                    <h5>Our collection</h5>
                </div>
            </div>
        </div>

        <div class="category-wrapper category-slider white-arrow">

            @foreach (SpecialType specialType in Model.SpecialTypes)
            {
                <div>
                    <div class="category-wrap category-color">
                        <a href="shop.html">
                            <img src="~/assets/images/special-types/@specialType.Image" class="img-fluid blur-up lazyload" alt="category image">
                            <div class="category-content category-text t-text">
                                <h3>@specialType.Title.Split(' ')[0]</h3>
                                <span>@specialType.Title.Split(' ')[1]</span>
                            </div>
                        </a>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- Special Types section end -->
<!-- Product Section start -->
<section class="ratio_asos">
    <div class="container">
        <div class="row m-0">
            <div class="col-sm-12 p-0">
                <div class="title title-2 text-center">
                    <h2>Latest Products</h2>
                    <h5>Our collection</h5>
                </div>
                <div class="product-wrapper slide-5 light-arrow bottom-space">

                    @foreach (Product product in Model.LatestProducts)
                    {
                        <div>
                            <div class="product-box">
                                <div class="img-wrapper">
                                    <a asp-controller="shop" asp-action="product" asp-route-id="@product.Id">
                                        <img src="~/assets/images/products/@product.MainImage" class="img-fluid bg-img blur-up lazyload" alt="product">
                                    </a>
                                    <div class="cart-wrap">
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)" class="addtocart-btn">
                                                    <i data-feather="shopping-bag"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-controller="shop" asp-action="quickview" asp-route-id="@product.Id" id="quickViewBtn" data-bs-toggle="modal" data-bs-target="#quick-view">
                                                    <i data-feather="eye"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="addtocompare-btn">
                                                    <i data-feather="refresh-cw"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="wishlist addtowishlist-btn">
                                                    <i data-feather="heart"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-details text-center">
                                    <h3 class="theme-color">
                                        @if (product.DiscountPrice != null)
                                        {
                                            <span class="font-light">$@product.DiscountPrice</span>
                                            <s class="ml-1">$@product.Price</s>
                                        }
                                        else
                                        {
                                            <span class="font-light">$@product.Price</span>
                                        }

                                    </h3>
                                    <a asp-controller="shop" asp-action="product" asp-route-id="@product.Id" class="font-default">
                                        <h5>@(product.Brand.Title + " " + product.Title)</h5>
                                    </a>
                                    <ul class="rating mt-1">
                                        <li>
                                            <i class="fas fa-star theme-color"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star theme-color"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section end -->
<!-- Brand Section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="brand-slider">
                    @foreach (Brand brand in Model.Brands)
                    {
                        <div>
                            <div class="brand-image">
                                @if (brand.Website != null)
                                {
                                    <a href="@brand.Website" target="_blank">
                                        <img src="~/assets/images/brand/@brand.Logo" class="img-fluid blur-up lazyload" alt="brand logo">
                                    </a>
                                }
                                else
                                {
                                    <a href="javascript:void(0)">
                                        <img src="~/assets/images/brand/@brand.Logo" class="img-fluid blur-up lazyload" alt="brand logo">
                                    </a>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Brand Section end -->

@section JS{
    <script src="~/assets/js/custom.js" asp-append-version="true"></script>
}