@model IEnumerable<AdsBanner>
@{
    int tableRow = (ViewBag.CurrentPage - 1) * 5;
    string controller = this.ViewContext.RouteData.Values["controller"].ToString();
}

<table class="table table-striped table-bordered align-middle">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Text</th>
            <th scope="col">URL</th>
            <th scope="col">Shared</th>
            <th scope="col">Status</th>
            <th scope="col">Settings</th>
        </tr>
    </thead>
    <tbody>
        @foreach (AdsBanner adsBanner in Model)
        {
            tableRow++;
            <tr>
                <th scope="row">@tableRow</th>
                <td>
                    <img src="~/assets/images/banner/@adsBanner.Image" alt="banner-image" class="img-thumbnail" style="width: 100%; max-width: 500px;" />
                </td>
                <td>
                    @adsBanner.Title
                </td>
                <td>
                    @adsBanner.Text
                </td>
                <td>
                    @adsBanner.AdsUrl
                </td>
                <td>
                    @(adsBanner.IsShared ? "Yes" : "No")
                </td>
                <td>
                    @if (adsBanner.IsDeleted)
                    {
                        <span class="text-danger">Deleted</span>
                    }
                    else
                    {
                        <span class="text-success">Active</span>
                    }
                </td>
                <td>
                    @if (adsBanner.IsDeleted)
                    {
                        <a asp-area="manage" asp-controller="@controller" asp-action="restore" asp-route-id="@adsBanner.Id" asp-route-page="@ViewBag.CurrentPage" asp-route-status="@ViewBag.Status" class="btn btn-info restoreBtn" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Restore">
                            <i class="bi bi-recycle"></i>
                        </a>
                    }
                    else
                    {
                        <a asp-area="manage" asp-controller="@controller" asp-action="update" asp-route-id="@adsBanner.Id" asp-route-page="@ViewBag.CurrentPage" asp-route-status="@ViewBag.Status" class="btn btn-warning" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Edit">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a asp-area="manage" asp-controller="@controller" asp-action="delete" asp-route-id="@adsBanner.Id" asp-route-page="@ViewBag.CurrentPage" asp-route-status="@ViewBag.Status" class="btn btn-danger deleteBtn" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Delete">
                            <i class="bi bi-trash"></i>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>