@model IEnumerable<Colour>
@{
    int tableRow = (ViewBag.CurrentPage - 1) * 5;
    string controller = this.ViewContext.RouteData.Values["controller"].ToString();
}

<table class="table table-hover table-bordered align-middle">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Colour name</th>
            <th scope="col">Colour view</th>
            <th scope="col">Product count</th>
            <th scope="col">Status</th>
            <th scope="col">Settings</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Colour colour in Model)
        {

            tableRow++;
            <tr>
                <th scope="row">@tableRow</th>
                <td>@colour.Title</td>
                <td style="background-color: @colour.Title;"></td>
                <td>@colour.ProductColours.Where(pc => pc.ProductId == colour.Id).Count()</td>
                <td>
                    @if (colour.IsDeleted)
                    {
                        <span class="text-danger">Deleted</span>
                    }
                    else
                    {
                        <span class="text-success">Active</span>
                    }
                </td>
                <td>
                    @if (colour.IsDeleted)
                    {
                        <a asp-area="manage" asp-controller="@controller" asp-action="restore" asp-route-id="@colour.Id" asp-route-page="@ViewBag.CurrentPage" asp-route-status="@ViewBag.Status" class="btn btn-info restoreBtn" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Restore">
                            <i class="bi bi-recycle"></i>
                        </a>
                    }
                    else
                    {
                        <a asp-area="manage" asp-controller="@controller" asp-action="update" asp-route-id="@colour.Id" asp-route-page="@ViewBag.CurrentPage" asp-route-status="@ViewBag.Status" class="btn btn-warning" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Edit">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a asp-area="manage" asp-controller="@controller" asp-action="delete" asp-route-id="@colour.Id" asp-route-page="@ViewBag.CurrentPage" asp-route-status="@ViewBag.Status" class="btn btn-danger deleteBtn" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Delete">
                            <i class="bi bi-trash"></i>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>