@model IEnumerable<ServicePolicy>
@{
    int tableRow = (ViewBag.CurrentPage - 1) * 5;
}

<table class="table table-striped table-bordered align-middle">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Settings</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ServicePolicy servicePolicy in Model)
        {
            tableRow++;
            <tr>
                <th scope="row">@tableRow</th>
                <td>
                    <img src="~/assets/images/service-policies/@servicePolicy.Image" alt="service-policy-img" class="img-fluid" style="max-width: 60px;" />
                </td>
                <td>@servicePolicy.Title</td>
                <td>@servicePolicy.Description</td>
                <td>
                    @if (servicePolicy.IsDeleted)
                    {
                        <span class="text-danger">Deleted</span>
                    }
                    else
                    {
                        <span class="text-success">Active</span>
                    }
                </td>
                <td>
                    @if (servicePolicy.IsDeleted)
                    {
                        <a asp-area="manage" asp-controller="servicepolicy" asp-action="restore" asp-route-id="@servicePolicy.Id" asp-route-status="@ViewBag.Status" asp-route-page="@ViewBag.CurrentPage" class="btn btn-info restoreBtn" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Restore">
                            <i class="bi bi-recycle"></i>
                        </a>
                    }
                    else
                    {
                        <a asp-area="manage" asp-controller="servicepolicy" asp-action="update" asp-route-id="@servicePolicy.Id" asp-route-status="@ViewBag.Status" asp-route-page="@ViewBag.CurrentPage" class="btn btn-warning" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Edit">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a asp-area="manage" asp-controller="servicepolicy" asp-action="delete" asp-route-id="@servicePolicy.Id" asp-route-status="@ViewBag.Status" asp-route-page="@ViewBag.CurrentPage" class="btn btn-danger deleteBtn" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Delete">
                            <i class="bi bi-trash"></i>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
