@model IEnumerable<Contact>
@{
    ViewData["Title"] = "Contacts";
    int tableRow = (ViewBag.CurrentPage - 1) * 5;
    string controller = this.ViewContext.RouteData.Values["controller"].ToString();
}

<main id="main" class="main">

    <div class="row justify-content-between align-items-center">
        <div class="col-md-3">
            <div class="pagetitle">
                <h1>Contacts</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="manage" asp-controller="dashboard" asp-action="index">Dashboard</a></li>
                        <li class="breadcrumb-item active">Contacts</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->
        </div>
        <div class="col-md-3">
            <form class="form-group">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="status" class="col-form-label">Show:</label>
                    </div>
                    <div class="col-auto">
                        <select class="form-select" id="status" name="status">
                            @switch (ViewBag.Status)
                            {
                                case "all":
                                    <option value="all" selected>All</option>
                                    <option value="active">Active</option>
                                    <option value="deleted">Deleted</option>
                                    break;
                                case "deleted":
                                    <option value="all">All</option>
                                    <option value="active">Active</option>
                                    <option value="deleted" selected>Deleted</option>
                                    break;
                                default:
                                    <option value="all">All</option>
                                    <option value="active" selected>Active</option>
                                    <option value="deleted">Deleted</option>
                                    break;
                            }

                        </select>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-info">Filter</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <section class="section">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Messages</h5>

                        <!-- Contacts Table -->
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered align-middle">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Fullname</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Date &amp; Time</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Settings</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Contact contact in Model)
                                    {
                                        tableRow++;
                                        <tr>
                                            <th scope="row">@tableRow</th>
                                            <td>
                                                @(contact.FirstName + " " + contact.LastName)
                                            </td>
                                            <td>
                                                @contact.Email
                                            </td>
                                            <td>
                                                @contact.CreatedAt?.ToString("g")
                                            </td>
                                            <td>
                                                @if (contact.IsDeleted)
                                                {
                                                    <span class="text-danger">Deleted</span>
                                                }
                                                else
                                                {
                                                    <span class="text-success">Active</span>
                                                }
                                            </td>
                                            <td>
                                                <a asp-area="manage" asp-controller="@controller" asp-action="detail" asp-route-id="@contact.Id" asp-route-page="@ViewBag.CurrentPage" asp-route-status="@ViewBag.Status" class="btn btn-info" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Detail">
                                                    <i class="bi bi-eye"></i>
                                                </a>
                                                @if (contact.IsDeleted)
                                                {
                                                    <a asp-area="manage" asp-controller="@controller" asp-action="deleterestore" asp-route-id="@contact.Id" asp-route-page="@ViewBag.CurrentPage" asp-route-status="@ViewBag.Status" class="btn btn-primary" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Restore">
                                                        <i class="bi bi-recycle"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a asp-area="manage" asp-controller="@controller" asp-action="deleterestore" asp-route-id="@contact.Id" asp-route-page="@ViewBag.CurrentPage" asp-route-status="@ViewBag.Status" class="btn btn-danger" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Delete">
                                                        <i class="bi bi-trash"></i>
                                                    </a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- End Table -->
                        <!-- Pagination -->
                        @await Html.PartialAsync("_PaginationPartial")
                        <!-- End Pagination -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main>
<!-- End #main -->
