@model IEnumerable<ShoppingCartVM>
@{
    double total = Model.Sum(x => x.Price * x.Count);
}

@if (Model.Count() > 0)
{
    <div class="row">

        <div class="col-sm-12 table-responsive mt-4">
            <table class="table cart-table">
                <thead>
                    <tr class="table-head">
                        <th scope="col">Image</th>
                        <th scope="col">Product name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ShoppingCartVM shoppingCartVM in Model)
                    {
                        <tr>
                            <td>
                                <a asp-controller="shop" asp-action="product" asp-route-id="@shoppingCartVM.ProductId">
                                    <img src="~/assets/images/products/@shoppingCartVM.MainImage" class=" blur-up lazyload" alt="product">
                                </a>
                            </td>
                            <td>
                                <a asp-controller="shop" asp-action="product" asp-route-id="@shoppingCartVM.ProductId">@shoppingCartVM.Title</a>
                                <div class="mobile-cart-content row">
                                    <div class="col">
                                        <div class="qty-box">
                                            <div class="input-group">
                                                <input type="text" name="quantity" class="form-control input-number" value="@shoppingCartVM.Count" min="1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <h2>$@shoppingCartVM.Price.ToString("0.00")</h2>
                                    </div>
                                    <div class="col">
                                        <h2 class="td-color">
                                            <a asp-controller="shoppingcart" asp-action="removeitem" asp-route-id="@shoppingCartVM.ProductId" class="remove-cart-item">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </h2>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h2>$@shoppingCartVM.Price.ToString("0.00")</h2>
                            </td>
                            <td>
                                <div class="qty-box">
                                    <div class="input-group">
                                        <input type="number" name="quantity" class="form-control input-number" value="@shoppingCartVM.Count" min="1">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h2 class="td-color">$@((shoppingCartVM.Price * shoppingCartVM.Count).ToString("0.00"))</h2>
                            </td>
                            <td>
                                <a data-id="@shoppingCartVM.ProductId" asp-controller="shoppingcart" asp-action="removeitem" asp-route-id="@shoppingCartVM.ProductId" class="remove-cart-item">
                                    <i class="fas fa-times"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="col-12 mt-md-5 mt-4">
            <div class="row">
                <div class="col-sm-7 col-5 order-1">
                    <div class="left-side-button text-end d-flex d-block justify-content-end">
                        <a asp-controller="shoppingcart" asp-action="clearallitems" class="text-decoration-underline theme-color d-block text-capitalize">
                            clear all items
                        </a>
                    </div>
                </div>
                <div class="col-sm-5 col-7">
                    <div class="left-side-button float-start">
                        <a asp-controller="shop" asp-action="index" class="btn btn-solid-default btn fw-bold mb-0 ms-0">
                            <i class="fas fa-arrow-left"></i> Continue Shopping
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="cart-checkout-section">
            <div class="row g-4 flex-row-reverse">

                <div class="col-lg-4">
                    <div class="cart-box">
                        <div class="cart-box-details">
                            <div class="total-details">
                                <div class="top-details">
                                    <h3>Cart Totals</h3>
                                    <h6>Quantity of products <span>@Model.Count()</span></h6>
                                    <h6>Delivery <span>$0.00</span></h6>
                                    <h6><strong>Total price <span>$<span id="total-in-table">@total.ToString("0.00")</span></span></strong></h6>
                                </div>
                                <div class="bottom-details">
                                    <a asp-controller="order" asp-action="create">Process Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
}
else
{
    <div class="row gx-md-2 gx-0 gy-md-0 gy-3">

        <div class="col-md-8 mx-auto">
            <div class="page-image">
                <img src="~/assets/images/inner-page/empty-cart.jpg" class="img-fluid blur-up lazyload d-block mx-auto" alt="cart">
            </div>
        </div>

        <div class="col-md-8 mx-auto mt-md-5 mt-3">
            <div class="page-container pass-forgot">
                <div class="d-flex justify-content-center">
                    <a href="javascript:history.back();" class="btn btn-outline-info m-1">
                        <i class="fa-solid fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;Go Back
                    </a>
                    <a asp-controller="home" asp-action="index" class="btn btn-outline-info m-1">
                        <i class="fa-solid fa-house"></i>&nbsp;&nbsp;&nbsp;Home Page
                    </a>
                    <a asp-controller="shop" asp-action="index" class="btn btn-outline-info m-1">
                        <i class="fa-solid fa-bag-shopping"></i>&nbsp;&nbsp;&nbsp;Shop Page
                    </a>
                </div>
            </div>
        </div>

    </div>
}
