@inject LayoutService layoutService
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> userManager
@{
    Setting setting = await layoutService.GetSetting();
    List<ShoppingCartVM> shoppingCartVMs = await layoutService.GetCart();
    List<CompareListVM> compareListVMs = await layoutService.GetCompare();
    AppUser appUser = null;
    if (User.Identity.IsAuthenticated)
    {
        appUser = userManager.Users.FirstOrDefault(u => u.UserName == User.Identity.Name && !u.IsAdmin);
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon/favicon-16x16.png">

    <!-- Google Fonts (Using: Rubik & Montserrat & Roboto) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/bootstrap/bootstrap-5.2.0-beta1/css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap Icons -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.3/font/bootstrap-icons.min.css"
          integrity="sha512-YzwGgFdO1NQw1CZkPoGyRkEnUTxPSbGWXvGiXrWk8IeSqdyci0dEDYdLLjMxq1zCoU0QBa4kHAFiRhUL3z2bow=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
          integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Slick-Carousel CSS -->
    <link rel="stylesheet" href="~/assets/slick-carousel/slick-1.8.1/slick/slick.css">
    <link rel="stylesheet" href="~/assets/slick-carousel/slick-1.8.1/slick/slick-theme.css">

    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
          integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    @RenderSection("CSS", required: false)

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css" id="mainCSS">

    <!-- Dark / Light Mode JS -->
    <script src="~/assets/js/dark-mode.js" asp-append-version="true"></script>
</head>

<body>

    <!-- Header -->
    <header id="home">
        <div class="top-header">
            <div class="container-fluid-lg">
                <div class="row">
                    <div class="col-auto d-xl-block d-none">
                        <ul class="border-list">
                            <li>@setting?.Offer</li>
                        </ul>
                    </div>
                    <div class="col-auto">
                        <ul class="border-list">

                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown">
                                            <span>@appUser?.FullName</span>
                                            <i class="fas fa-chevron-down"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                                            <li class="w-100">
                                                <a asp-controller="account" asp-action="profile" class="dropdown-item">My account</a>
                                            </li>
                                            <li class="w-100">
                                                <a asp-controller="account" asp-action="logout" class="dropdown-item">Log out</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a asp-controller="account" asp-action="login">
                                        <span>Login</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="account" asp-action="register">
                                        <span>Register</span>
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-header navbar-searchbar">
            <div class="container-fluid-lg">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-menu">
                            <div class="menu-left">
                                <div class="brand-logo">
                                    <a asp-controller="home" asp-action="index">
                                        <img src="~/assets/images/logo/@setting.Logo" class="img-fluid blur-up lazyload" alt="logo">
                                    </a>
                                </div>
                            </div>
                            <nav>
                                <div class="main-navbar">
                                    <div id="mainnav">
                                        <div class="toggle-nav me-3"><i class="fa fa-bars sidebar-bar"></i></div>
                                        <ul class="nav-menu">
                                            <li class="back-btn d-xl-none">
                                                <div class="close-btn">
                                                    Menu
                                                    <span class="mobile-back"><i class="fa fa-angle-left"></i></span>
                                                </div>
                                            </li>
                                            <li>
                                                <a asp-controller="home" asp-action="index" class="nav-link">Home</a>
                                            </li>
                                            <li>
                                                <a asp-controller="shop" asp-action="index" class="nav-link">Shop</a>
                                            </li>
                                            <li>
                                                <a asp-controller="blog" asp-action="index" class="nav-link">Blog</a>
                                            </li>
                                            <li>
                                                <a asp-controller="faq" asp-action="index" class="nav-link">FAQ</a>
                                            </li>
                                            <li>
                                                <a asp-controller="contact" asp-action="index" class="nav-link">Contact</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <div class="menu-right">
                                <ul>
                                    <li>
                                        <div class="search-box theme-bg-color">
                                            <i data-feather="search"></i>
                                        </div>
                                    </li>
                                    <li class="onhover-dropdown wislist-dropdown">
                                        <div class="cart-media">
                                            <div class="cart-icon">
                                                <i data-feather="heart"></i>
                                                <span class="label label-theme rounded-pill">0</span>
                                            </div>
                                        </div>
                                        <div class="onhover-div">
                                            <!-- <a asp-controller="wishlist" asp-action="index">
                                                <div class="wislist-empty">
                                                    <i class="fa-solid fa-heart"></i>
                                                    <h6 class="mb-1">Your wishlist is empty!</h6>
                                                </div>
                                            </a> -->
                                            <div class="cart-menu">
                                                <div class="cart-title">
                                                    <h6>
                                                        <i data-feather="heart"></i>
                                                        <span class="label label-theme rounded-pill">5</span>
                                                        <h4>Wishlist</h4>
                                                    </h6>
                                                    <span class="d-md-none d-block">
                                                        <i class="fas fa-arrow-right back-cart"></i>
                                                    </span>
                                                </div>
                                                <ul class="custom-scroll">
                                                    <li>
                                                        <div class="media">
                                                            <img src="~/assets/images/products/1.jpg"
                                                                 class="img-fluid blur-up lazyload" alt="product">
                                                            <div class="media-body">
                                                                <h6>Slim Fit Plastic Coat</h6>
                                                                <div class="qty-with-price">
                                                                    <span>$78.00</span>
                                                                </div>
                                                            </div>
                                                            <button type="button" class="btn-close d-block d-md-none"
                                                                    aria-label="Close">
                                                                <i class="fas fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="media">
                                                            <img src="~/assets/images/products/3.jpg"
                                                                 class="img-fluid blur-up lazyload" alt="product">
                                                            <div class="media-body">
                                                                <h6>Womens Stylish Jacket</h6>
                                                                <div class="qty-with-price">
                                                                    <span>$24.00</span>
                                                                </div>
                                                            </div>
                                                            <button type="button" class="btn-close d-block d-md-none"
                                                                    aria-label="Close">
                                                                <i class="fas fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="cart-btn">
                                                <h6 class="cart-total">
                                                    <span class="font-light">Total:</span> $542.00
                                                </h6>
                                                <a asp-controller="wishlist" asp-action="index" class="btn btn-solid-default btn-block">
                                                    Go to wishlist
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="onhover-dropdown wislist-dropdown compare-dropdown">
                                        @await Html.PartialAsync("_MiniComparePartial", await layoutService.GetCompare())
                                    </li>
                                    <li>
                                        <div class="">
                                            <button id="darkButton" class="btn btn-sm dark-buttton">
                                                <i data-feather="moon"></i>
                                            </button>
                                        </div>
                                    </li>
                                    <li class="onhover-dropdown cart-dropdown">
                                        @await Html.PartialAsync("_MiniCartPartial", await layoutService.GetCart())
                                    </li>
                                </ul>
                            </div>
                            <div class="search-full">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i data-feather="search" class="font-light"></i>
                                    </span>
                                    <form method="get" asp-controller="search" asp-action="index" style="flex: 1 1 auto;" autocomplete="off">
                                        <input name="key" id="key" type="text" class="form-control search-type" placeholder="Search product...">
                                    </form>
                                    <span class="input-group-text close-search">
                                        <i data-feather="x" class="font-light"></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header end -->
    <!-- Mobile fix menu start -->
    <div class="mobile-menu d-sm-none">
        <ul>
            <li>
                <a asp-controller="home" asp-action="index">
                    <i data-feather="home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a asp-controller="shop" asp-action="index">
                    <i data-feather="shopping-bag"></i>
                    <span>Shop</span>
                </a>
            </li>
            <li>
                <a asp-controller="shoppingcart" asp-action="index">
                    <i data-feather="shopping-cart"></i>
                    <span>Cart</span>
                </a>
            </li>
            <li>
                <a asp-controller="wishlist" asp-action="index">
                    <i data-feather="heart"></i>
                    <span>Wishlist</span>
                </a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    <a asp-controller="account" asp-action="profile">
                        <i data-feather="user"></i>
                        <span>Account</span>
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a asp-controller="account" asp-action="login">
                        <i data-feather="user"></i>
                        <span>Login</span>
                    </a>
                </li>
            }

        </ul>
    </div>
    <!-- Mobile fix menu end -->

    @RenderBody()

    <!-- Footer start -->
    <footer class="footer-sm-space">
        <div class="main-footer">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="footer-contact">
                            <div class="brand-logo">
                                <a asp-controller="home" asp-action="index" class="footer-logo">
                                    <img src="~/assets/images/logo/@setting.Logo" class="img-fluid blur-up lazyload" alt="logo">
                                </a>
                            </div>

                            <ul class="contact-lists">
                                @if (setting.Phone2 != null)
                                {
                                    <li>
                                        <span>
                                            <b>Phone:</b> <span class="font-light">@setting.Phone2</span>
                                        </span>
                                    </li>
                                }
                                <li>
                                    <span>
                                        <b>Email:</b><span class="font-light">@setting.Email1 @((setting.Email2 != null) ? ("| " + setting.Email2) : "")</span>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <b>Address:</b>
                                        <span class="font-light">@setting.Address</span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="footer-links">
                            <div class="footer-title">
                                <h3>Visitors</h3>
                            </div>
                            <div class="footer-content">
                                <ul>
                                    <li>
                                        <a href="https://info.flagcounter.com/ydqm" target="_blank">
                                            <img src="https://s01.flagcounter.com/count2/ydqm/bg_FFFFFF/txt_000000/border_CCCCCC/columns_3/maxflags_12/viewers_3/labels_1/pageviews_0/flags_0/percent_0/" alt="Visitors">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://info.flagcounter.com/ydqm" target="_blank">
                                            <img src="https://s11.flagcounter.com/mini/ydqm/bg_FFFFFF/txt_000000/border_CCCCCC/flags_1/" alt="Flag Counter" border="0">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-sm-6 d-none d-sm-block">
                        <div class="footer-newsletter">
                            <h3>Got Question? Call Us 24/7</h3>
                            <div class="footer-number">
                                <div class="footer-number-image">
                                    <img src="~/assets/images/other/headphone.png" class="img-fluid blur-up lazyload" alt="phone">
                                </div>

                                <div class="footer-number-container">
                                    <h3>@setting.SupportPhone</h3>
                                </div>
                            </div>
                            @if (setting.SupportText != null)
                            {
                                <div class="footer-details">
                                    <p class="font-light">@setting.SupportText</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-footer">
            <div class="container">
                <div class="row gy-3">
                    <div class="col-md-12">
                        <p class="mb-0 font-dark">
                            &copy; 2021 -
                            <script>
                                document.write(new Date().getFullYear());
                            </script>, Marketo Watch Store
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer end -->
    <!-- Quick view modal start -->
    <div class="modal fade quick-view-modal" id="quick-view">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content"></div>
        </div>
    </div>
    <!-- Quick view modal end -->
    <!-- Cookie Section Start -->
    <div class="cookie-bar-section hide">
        <div class="content">
            <img src="~/assets/images/cookie.png" alt="cookie">
            <p class="font-light">This website use cookies to ensure you get the best experience on our website.</p>
            <div class="cookie-buttons">
                <button class="btn btn-solid-default btn-spacing" id="button">I understand</button>
            </div>
        </div>
    </div>
    <!-- Cookie Section End -->
    <!-- Tap to top Section Start -->
    <div class="tap-to-top">
        <a href="#">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
    <!-- Tap to top Section End -->

    <div class="bg-overlay"></div>

    <!-- Latest jQuery -->
    <script src="~/assets/js/jquery-3.5.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/assets/bootstrap/bootstrap-5.2.0-beta1/js/bootstrap.min.js"></script>
    <script src="~/assets/bootstrap/bootstrap-5.2.0-beta1/js/bootstrap.bundle.min.js"></script>

    <!-- Feather icon JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js"
            integrity="sha512-24XP4a9KVoIinPFUbcnjIjAjtS59PUoxQj3GNVpWc86bCqPuy3YxAcxJrxFCxXe4GHtAumCbO2Ze2bddtuxaRw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Lazyload JS -->
    <script src="~/assets/js/lazysizes.min.js"></script>

    <!-- Slick JS -->
    <script src="~/assets/js/slick/slick.js"></script>
    <script src="~/assets/js/slick/slick-animation.min.js"></script>
    <script src="~/assets/js/slick/custom_slick.js"></script>

    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
            integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @RenderSection("JS", required: false)

    <!-- Script JS -->
    <script src="~/assets/js/script.js"></script>

</body>

</html>
