@model FAQVM
@{
    ViewBag.Title = "Marketo | FAQ";
    int questionId = 0;
    int answerId = 0;
}

<!-- Breadcrumb section start -->
<section class="breadcrumb-section section-b-space">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12 search-section">
                <h3>Frequently Asked Questions</h3>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="home" asp-action="index">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">FAQ</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->

<!-- FAQ details start -->
<section class="faq-details section-b-space">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-4">
                <div class="faq-link-box">
                    <ul>
                        @foreach (FAQ faq in Model.FAQs)
                        {
                            <li>
                                <a href="#@(++questionId)">
                                    <h4>@(questionId).</h4>
                                    <h5>@faq.Question</h5>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-7 col-md-8">

                @foreach (FAQ faq in Model.FAQs)
                {
                    <div class="faq-heading" id="@(++answerId)">
                        <i data-feather="help-circle" class="theme-color"></i>
                        <div class="faq-option">
                            <h3>@faq.Question</h3>
                            <h6 class="font-light">@faq.Answer</h6>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>
<!-- FAQ details end -->
