@model ShopVM
@{
    ViewBag.Title = "Marketo | Shop";
    int inputId = 0;
}

<!-- Breadcrumb section start -->
<section class="breadcrumb-section section-b-space">
    <ul class="circles">
        @for (int i = 1; i <= 10; i++)
        {
            <li></li>
        }
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Shop</h3>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Shop</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->
<!-- Shop Section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="category-option">
                    <div class="button-close mb-3">
                        <button class="btn p-0"><i data-feather="arrow-left"></i> Close</button>
                    </div>
                    <div class="accordion category-name" id="accordionExample">

                        <div class="accordion-item category-rating">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                                    Brand
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body category-scroll">
                                    <ul class="category-list">
                                        @foreach (Brand brand in Model.Brands)
                                        {
                                            <li>
                                                <div class="form-check ps-0 custom-form-check">
                                                    <input class="checkbox_animated check-it" type="checkbox" id="brand@(brand.Id)">
                                                    <label class="form-check-label" for="brand@(brand.Id)">@brand.Title</label>
                                                    <p class="font-light">(@brand.Products.Where(p => !p.IsDeleted).Count())</p>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item category-color">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                                    Colour
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="category-list">
                                        @foreach (Colour colour in Model.Colours)
                                        {
                                            <li>
                                                <a asp-route-colourId="@colour.Id" style="background-color: @colour.Title;"></a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item category-price">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                                    Price
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="range-slider category-list">
                                        <input type="text" class="js-range-slider" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item category-rating">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour">
                                    Gender
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour">
                                <div class="accordion-body category-scroll">
                                    <ul class="category-list">
                                        @foreach (var gender in Model.Genders)
                                        {
                                            <li>
                                                <div class="form-check ps-0 custom-form-check">
                                                    <input class="checkbox_animated check-it" type="checkbox" id="gender@(++inputId)">
                                                    <label class="form-check-label" for="gender@(inputId)">
                                                        @gender
                                                    </label>
                                                    <p class="font-light">@Model.Products.Where(p => p.Gender == gender && !p.IsDeleted).Count()</p>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item category-rating">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive">
                                    Features
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingFive">
                                <div class="accordion-body category-scroll">
                                    <ul class="category-list">
                                        @foreach (Feature feature in Model.Features)
                                        {
                                            <li>
                                                <div class="form-check ps-0 custom-form-check">
                                                    <input class="checkbox_animated check-it" type="checkbox" id="feature@(feature.Id)">
                                                    <label class="form-check-label" for="feature@(feature.Id)">
                                                        @feature.Title
                                                    </label>
                                                    <p class="font-light">(@(feature.ProductFeatures.Count()))</p>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item category-rating">
                            <h2 class="accordion-header" id="headingSix">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix">
                                    Power Source
                                </button>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse show" aria-labelledby="headingSix">
                                <div class="accordion-body category-scroll">
                                    <ul class="category-list">
                                        @foreach (PowerSource powerSource in Model.PowerSources)
                                        {
                                            <li>
                                                <div class="form-check ps-0 custom-form-check">
                                                    <input class="checkbox_animated check-it" type="checkbox" id="powersource@(powerSource.Id)">
                                                    <label class="form-check-label" for="powersource@(powerSource.Id)">
                                                        @powerSource.Title
                                                    </label>
                                                    <p class="font-light">(@(powerSource.Products.Where(p => !p.IsDeleted).Count()))</p>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSeven">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven">
                                    Discount Range
                                </button>
                            </h2>
                            <div id="collapseSeven" class="accordion-collapse collapse show" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="category-list">
                                        <li>
                                            <div class="form-check ps-0 custom-form-check">
                                                <input class="checkbox_animated check-it" type="checkbox" id="off5">
                                                <label class="form-check-label" for="off5">
                                                    5% and above
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check ps-0 custom-form-check">
                                                <input class="checkbox_animated check-it" type="checkbox" id="off10">
                                                <label class="form-check-label" for="off10">
                                                    10% and above
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check ps-0 custom-form-check">
                                                <input class="checkbox_animated check-it" type="checkbox" id="off20">
                                                <label class="form-check-label" for="off20">
                                                    20% and above
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-12 ratio_30">
                @foreach (AdsBanner adsBanner in Model.AdsBanners)
                {
                    <div class="banner-deatils">
                        <a href="@((adsBanner.AdsUrl != null) ? adsBanner.AdsUrl : "javascript:void(0)")" target="@((adsBanner.AdsUrl != null) ? "_blank" : "_self")">
                            <div class="banner-image">
                                <img src="~/assets/images/banner/@adsBanner.Image" class="img-fluid bg-img blur-up lazyload" alt="banner-image">
                                <div class="banner-content">
                                    <div>
                                        <h3>@adsBanner.Title</h3>
                                        <p>@adsBanner.Text</p>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-contain mt-3 mb-5">
                                <p class="font-light"> </p>
                            </div>
                        </a>
                    </div>
                }

                <div class="row g-4">

                    <!-- filter button -->
                    <div class="filter-button">
                        <button class="btn filter-btn p-0"><i data-feather="align-left"></i> Filter</button>
                    </div>
                    <!-- filter button -->

                </div>
                <!-- label and featured section -->
                <!-- Prodcut setion -->
                <div class="row g-sm-4 g-3 row-cols-lg-4 row-cols-md-3 row-cols-2 mt-1 custom-gy-5 product-style-2 ratio_asos product-list-section">

                    @foreach (Product product in Model.Products)
                    {
                        <div>
                            <div class="product-box">
                                <div class="img-wrapper">
                                    <div class="front">
                                        <a asp-controller="shop" asp-action="product" asp-route-id="@product.Id">
                                            <img src="~/assets/images/products/@product.MainImage" class="bg-img blur-up lazyload" alt="product">
                                        </a>
                                    </div>
                                    <div class="label-block">
                                        @if (product.IsNewArrival)
                                        {
                                            <span class="label label-black">New</span>
                                        }
                                        @if (product.DiscountPrice != null)
                                        {
                                            var calculateDiscount = 100 - (double)product.DiscountPrice * 100 / product.Price;

                                            <span class="label label-theme">@(calculateDiscount.ToString("0.00"))% Off</span>
                                        }
                                    </div>
                                    <div class="cart-wrap">
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)" class="addtocart-btn">
                                                    <i data-feather="shopping-bag"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-controller="shop" asp-action="quickview" asp-route-id="@product.Id" id="quickViewBtn" data-bs-toggle="modal" data-bs-target="#quick-view">
                                                    <i data-feather="eye"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="addtocompare-btn">
                                                    <i data-feather="refresh-cw"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="wishlist addtowishlist-btn">
                                                    <i data-feather="heart"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-details">
                                    <div class="rating-details">
                                        <span class="font-light grid-content">
                                            @if (product.SpecialTypeId != null)
                                            {
                                                @product.SpecialType.Title
                                            }
                                            else
                                            {
                                                if (product.IsNewArrival == true)
                                                {
                                                    @("New arrival")
                                                }
                                                else
                                                {
                                                    @("Our collection")
                                                }
                                            }
                                        </span>
                                        <div class="star-ratings">
                                            <div class="fill-ratings" style="width: 50%;">
                                                <span>★★★★★</span>
                                            </div>
                                            <div class="empty-ratings">
                                                <span>★★★★★</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="main-price">
                                        <a asp-controller="shop" asp-action="product" asp-route-id="@product.Id" class="font-default">
                                            <h5 class="ms-0">@product.Title</h5>
                                        </a>
                                        <h3 class="theme-color">$@((product.DiscountPrice is null) ? product.Price : product.DiscountPrice)</h3>
                                        <a href="#" class="btn listing-content">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <!-- Prodcut setion -->

                <nav class="page-section">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                                <span aria-hidden="true">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                            </a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="javascript:void(0)">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" aria-label="Next">
                                <span aria-hidden="true">
                                    <i class="fas fa-chevron-right"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section end -->

@section CSS{
    <link rel="stylesheet" href="~/assets/ion.rangeSlider/css/ion.rangeSlider.min.css">
}

@section JS{
    <script src="~/assets/js/price-filter.js"></script>
    <script src="~/assets/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
    <script src="~/assets/js/filter.js"></script>
    <script src="~/assets/js/custom.js"></script>
}