@model ReviewVM
@{ ViewData["Title"] = Model.Product.Brand.Title + " " + Model.Product.Title + " | Marketo";
    int featuresCount = Model.Product.ProductFeatures.Count();
    int countF = 0;
    int tagsCount = Model.Product.ProductTags.Count();
    int countT = 0; }

<!-- Breadcrumb section start -->
<section class="breadcrumb-section section-b-space">
    <ul class="circles">
        @for (int i = 1; i <= 10; i++)
        {
<li></li>
}
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>@(Model.Product.Brand.Title + " " + Model.Product.Title)</h3>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="home" asp-action="index">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="shop" asp-action="index">
                                Shop
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">@(Model.Product.Brand.Title + " " + Model.Product.Title)</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->
<!-- Shop Section start -->
<section>
    <div class="container">
        <div class="row gx-4 gy-5">
            <div class="col-12">
                <div class="details-items">
                    <div class="row g-4">
                        <div class="col-md-6">
                            <div class="degree-section">
                                <div class="details-image ratio_asos">
                                    <div>
                                        <div class="product-image-tag">
                                            <img src="~/assets/images/products/@Model.Product.MainImage" class="img-fluid w-100 blur-up lazyload" alt="product">

                                            <div class="label-tag">
                                                <h6>
                                                    <i class="fas fa-star"></i> 4.8 <span class="font-light">120</span>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                    @foreach (ProductImage productImage in Model.Product.ProductImages)
                                    {
                        <div>
                            <div class="product-image-tag">
                                <img src="~/assets/images/products/@productImage.Image" class="img-fluid w-100 blur-up lazyload" alt="product">

                                <div class="label-tag">
                                    <h6>
                                        <i class="fas fa-star"></i> 4.8 <span class="font-light">120</span>
                                    </h6>
                                </div>
                            </div>
                        </div>}

                                </div>

                                <div class="details-image-option black-slide mt-4 rounded">
                                    <div>
                                        <img src="~/assets/images/products/@Model.Product.MainImage" class="img-fluid blur-up lazyload" alt="product">
                                    </div>
                                    @foreach (ProductImage productImage in Model.Product.ProductImages)
                                    {
                        <div>
                            <img src="~/assets/images/products/@productImage.Image" class="img-fluid blur-up lazyload" alt="product">
                        </div>}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="cloth-details-size">

                                <div class="details-image-concept">
                                    <h2>@(Model.Product.Brand.Title + " " + Model.Product.Title)</h2>
                                </div>

                                <div class="label-section">
                                    @if (Model.Product.ProductTags.Count() > 0)
                                    {
                                        foreach (ProductTag productTag in Model.Product.ProductTags)
                                        {
                        <span class="badge badge-grey-color">#@(productTag.Tag.Title)</span>}
                }
                                    @if (Model.Product.Count > 0)
                                    {
                        <span class="label-text">In stock</span>}
                                </div>

                                @if (Model.Product.DiscountPrice != null)
                                {
                                    var calculateDiscount = 100 - (double)Model.Product.DiscountPrice * 100 / Model.Product.Price;
                    <h3 class="price-detail">$@Model.Product.DiscountPrice.Value.ToString("0.00") <del>$@(Model.Product.Price.ToString("0.00"))</del><span>@(calculateDiscount.ToString("0.00"))% off</span></h3> }
                else
                {
    <h3 class="price-detail">$@(Model.Product.Price.ToString("0.00"))</h3>}

                                <div class="color-image">
                                    <div class="image-select">
                                        <h5>Available Colors:</h5>
                                        <ul class="color-variant">
                                            @foreach (ProductColour productColour in Model.Product.ProductColours)
                                            {
                                <li data-id="@productColour.Colour.Id" style="background-color: @productColour.Colour.Title;"></li>
}
                                        </ul>
                                    </div>
                                </div>

                                <div id="selectSize" class="addeffect-section product-description border-product">
                                    <h6 class="product-title product-title-2 d-block">quantity</h6>

                                    <div class="qty-box">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <button type="button" class="btn quantity-left-minus" data-type="minus">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                            </span>
                                            <input type="text" name="count" class="form-control input-number" value="1" @*min="1" max="@Model.Product.Count"*@ id="quantity">
                                            <span class="input-group-prepend">
                                                <button type="button" class="btn quantity-right-plus" data-type="plus">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-buttons">
                                    @*<a href="wishlist.html" class="btn btn-solid">
                                            <i class="fa fa-bookmark fz-16 me-2"></i>
                                            <span>Wishlist</span>
                                        </a>*@

                                    @*<form id="shoppingCartForm" asp-controller="shoppingcart" asp-action="addtocart" asp-route-id="@Model.Product.Id" method="get" style="margin-left: 8px;">*@
                                    <form method="get" id="shoppingCartForm" asp-controller="shoppingcart" asp-action="addtocart" asp-route-id="@Model.Product.Id">
                                        <input type="hidden" name="count" value="1" id="productCount" />
                                        <input type="hidden" name="colourid" value="@Model.Product.ProductColours.ElementAt(0).ColourId" id="colourid" />


                                        <button type="submit" id="cartEffect" class="btn btn-solid hover-solid btn-animation addtocart-btn">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span>Add To Cart</span>
                                        </button>
                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="cloth-review">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">

                            <button class="nav-link active" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#review" type="button">
                                Reviews
                            </button>

                            <button class="nav-link" id="nav-speci-tab" data-bs-toggle="tab" data-bs-target="#speci" type="button">
                                Specifications
                            </button>

                        </div>
                    </nav>

                    <div class="tab-content" id="nav-tabContent">

                        <div class="tab-pane fade show active" id="review">
                            <div class="row g-4">
                                
                                @await Html.PartialAsync("_AddReviewForProductPartial", Model)

                            </div>
                        </div>

                        <div class="tab-pane fade" id="speci">
                            <div class="pro mb-4">
                                @Html.Raw(Model.Product.Description)

                                <div class="table-responsive">
                                    <table class="table table-part">
                                        <tr>
                                            <th>Brand</th>
                                            <td>@Model.Product.Brand.Title</td>
                                        </tr>
                                        <tr>
                                            <th>Tax</th>
                                            <td>$@Model.Product.ExTax</td>
                                        </tr>
                                        <tr>
                                            <th>Gender</th>
                                            <td>@Model.Product.Gender</td>
                                        </tr>
                                        <tr>
                                            <th>Display</th>
                                            <td>@Model.Product.Display.Title</td>
                                        </tr>
                                        <tr>
                                            <th>Power source</th>
                                            <td>@Model.Product.PowerSource.Title</td>
                                        </tr>
                                        @if (Model.Product.SpecialTypeId != null)
                                        {
                            <tr>
                                <th>Special type</th>
                                <td>@Model.Product.SpecialType.Title</td>
                            </tr>
}
                                        @if (Model.Product.ProductFeatures.Where(pf => pf.ProductId == Model.Product.Id) != null && Model.Product.ProductFeatures.Where(pf => pf.ProductId == Model.Product.Id).Count() > 0)
                                        {
                            <tr>
                                <th>Features</th>
                                <td>
                                    @foreach (ProductFeature productFeature in Model.Product.ProductFeatures.Where(pf => pf.ProductId == Model.Product.Id))
                                    {
                                        countF++;@(productFeature.Feature.Title + ((featuresCount == countF) ? "" : ", "));
                                    }
                                </td>
                            </tr>
}
                                        @if (Model.Product.ProductTags.Where(pt => pt.ProductId == Model.Product.Id) != null && Model.Product.ProductTags.Where(pt => pt.ProductId == Model.Product.Id).Count() > 0)
                                        {
                            <tr>
                                <th>Tags</th>
                                <td>
                                    @foreach (ProductTag productTag in Model.Product.ProductTags.Where(pt => pt.ProductId == Model.Product.Id))
                                    {
                                        countT++;@("#" + productTag.Tag.Title + ((tagsCount == countT) ? "" : ", "));
                                    }
                                </td>
                            </tr>
}
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section end -->
