@model Blog
@{
    ViewData["Title"] = "Blog | " + Model.Title;
    string controller = this.ViewContext.RouteData.Values["controller"].ToString();
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Blog details</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="manage" asp-controller="dashboard" asp-action="index">Dashboard</a></li>
                <li class="breadcrumb-item"><a asp-area="manage" asp-controller="@controller" asp-action="index">Blogs</a></li>
                <li class="breadcrumb-item active">Detail</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-5">

                <div class="row">

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                                <h2 class="text-center">Blog Image</h2>
                                <img src="~/assets/images/blog/@Model.Image" alt="blog-image" class="img-fluid d-block w-100 mt-3" style="max-width: 100%;">

                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-xl-7">

                <div class="card">
                    <div class="card-body pt-3">

                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#title">Title</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#content">Content</button>
                            </li>

                        </ul>

                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="title">

                                <h5 class="card-title">@Model.Title</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Created by:</div>
                                    <div class="col-lg-9 col-md-8">@Model?.CreatedBy</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Created at:</div>
                                    <div class="col-lg-9 col-md-8">@Model.CreatedAt?.ToString("dd.MM.yyyy HH:mm")</div>
                                </div>

                                @if (Model.IsDeleted)
                                {
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Deleted at:</div>
                                        <div class="col-lg-9 col-md-8">@Model.DeletedAt</div>
                                    </div>
                                }
                                else
                                {
                                    if (Model.UpdatedAt != null)
                                    {
                                        <div class="row">
                                            <div class="col-lg-3 col-md-4 label">Last update:</div>
                                            <div class="col-lg-9 col-md-8">@Model.UpdatedAt</div>
                                        </div>
                                    }
                                }

                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="content">

                                <h5 class="card-title"></h5>
                                <p>@Html.Raw(Model.Content)</p>

                            </div>

                        </div>
                        <!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>

            <div class="col-xl-12 d-grid mt-3">
                <a asp-area="manage" asp-controller="@controller" asp-action="index" asp-route-status="@ViewBag.Status" asp-route-page="@ViewBag.CurrentPage" class="btn btn-info">Go back</a>
            </div>
        </div>
    </section>

</main>
<!-- End #main -->
